<!DOCTYPE html>
<html>
<head>
  <title>CityPortal</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">

    <nav class="navbar navbar-inverse nav_menu row">

      <div class="navbar-left col-sm-4">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Акции', offers_path %></li>
          <li><%= link_to 'Предприятия', companies_path %></li>
          <li><%= link_to 'Вакансии', job_vacancies_path %></li>
        </ul>
      </div>

      <div class="navbar-text navbar-right row">
        <% if user_signed_in? %>
            <div class="col-sm-10 row">
              <%= link_to "Админка", user_companies_path, class: "col-sm-6 btn btn-default" %>
              <%= link_to "Account", edit_user_registration_path, class: "col-sm-6 btn btn-default" %>
              <%= link_to "Sign Out", destroy_user_session_path, method: 'delete', class: "col-sm-6 btn btn-default" %>
            </div>

        <% else %>
            <%= form_for(@user, url: user_session_path(@user)) do |f| %>
                <%= f.email_field :email, autofocus: true, class: "col-sm-4" %>
                <%= f.password_field :password, autocomplete: "off", class: "col-sm-4" %>
                <div class="col-sm-4 row">
                  <%= f.submit "Sign In", class: "col-sm-6 btn btn-default" %>
                  <%= link_to "Sign Up", new_user_registration_path, class: "col-sm-6 btn btn-default" %>
                </div>
            <% end %>
        <% end %>
      </div>
    </nav>
  </div>
</nav>

<% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>

<%= yield %>

</body>
</html>
